.header {
    position: sticky;
    top: 0;
    padding: 10px;
    background: lightblue;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    margin-left: 10px;
    float: right;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }