input {
  margin: 10px 10px 10px 10px;
}
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 10px 10px 10px 10px;
}

textarea {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
    align-items: stretch;
}
button {
    width: 30%;
    align-self: center;
    height: 65px;
}
button span {
  display: block;
  text-align: center;
  line-height: 1em;
}
.product img {
  border-radius: 5%;
  border: 2px solid rgb(246, 237, 237);
  padding: 5px;
  font-size: 30px;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
