* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  button {
    padding: 18px 24px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  .image {
    position: relative;
    width: 100%;
  }
  .image_slider {
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
  }
  
  .image_slider .images {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
  }
  
  .image_slider .images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
  }
  
  .button_prev,
  .button_next {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: all 0.3s ease-in-out;
  }
  
  .button_next {
    right: 0;
  }
  
  .button_next:hover,
  .button_prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .image_slider .thumbnails {
    position: absolute;
    bottom: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .image_slider .thumbnails img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    object-fit: cover;
  }
  