.read-the-docs{
color: #888;
}
input,textarea{
    width: 100%;
    display: block;
    margin: 10px 0;    
}
input{
    padding: 10px;
    border-radius:5px;
    border:1px solid #ccc;
    background-color: transparent;
}
textarea{
    padding: 10px;
    height:100px;
    border-radius: 5px;
    border:1px solid #ccc;
    background-color: transparent;
}